body {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
	margin: 0px;
}

#container {
	width: 700px;
	height: 700px;
	display: grid;
	margin: 2rem;
}

button {
	width: 125px;
	height: 75px;
	font-size: 32px;
	font-weight: bold;
}
